body{
    font-family: 'Montserrat', sans-serif;
}
.subtitle {
    font-family: 'Pacifico', cursive;
}
/* NAVIGATION */
.bakeryss span{
    background-color: #e8e9e0;
    color: #e8e9e0; 
    width: 1px; 
    height: 10px; 
    border-radius: 5px;
}
.bakeryss p{
    color: #fff; 
    position: absolute; 
    left: 22px; 
    bottom: 0; 
    background: #fd8f0e; 
    border-radius: 50%;
}
#bakerysearch input{
    width: 100%; 
    padding: 5px 10px; 
    background-color: #fff; 
    color:#fd8f0e; 
    border: 2px solid #fd8f0e; 
    border-radius: 2px;
}
#bakerysearch input:active,
#bakerysearch input:focus,
#bakerysearch input:hover{
    border: 2px solid #fd8f0e; 
    outline: none;
}
#bakerysearch input::placeholder{
    color:#fd8f0e;
}
.bakerysearch{
    top: 10px!important;
}
.bakerybanners img{
    width: 100%;
}

.bakerywide{
    letter-spacing: 7px;
}
.bakerycolor{
    color: #fd8f0e;
}
.shrink {
    max-height: 65px!important;
    padding-top: 10px!important;
}
#bakerynav{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.bakeryshopnow{
    border-radius: 20px; 
    border: 2px solid white; 
    color: white;
}
.bakeryshopnow:hover{
    color: #395382;
}
.bakerymore{
    color: #3e2720; 
    border: 2px solid #3e2720; 
    border-radius: 50px;
}
.banner3{ 
    position: relative;
}
.banner3inside{
    position: absolute; 
    top: 0; 
    left: 0; 
    margin-top: 2%;
}
.banner3 p{
    font-size: 0.4em;
}
.banner4 {
    background: url('../photos/bakery/banner3.jpg') no-repeat center;
    background-size: cover; 
}
/* RECIPES SECTION */
.recipe{
    background: url('../photos/bakery/recipe.png') no-repeat center; 
    background-size: 70%;
    min-height: 250px;
    text-align: center;
    padding: 10% 5px;
    margin-top: -10%;
}
#recipes p{
    font-size: 5px;
    margin-bottom: 22px;
}
.recipe img{
    max-width: 35px;
}
.recipe h4{
    font-size: 14px;
}
#recipes .recipesdiv{
    text-align: center; 
    min-height: 750px;
}
#recipes a {
    border-radius: 50px; 
    color: #3e2720; 
    border: 2px solid #3e2720;
    display: inline-block;
    margin: auto;
}
#recipes h4.bakerybreadtext{
    color: #3e2720;
    border-bottom: 1px dotted rgba(207, 204, 199, 0.4);
    width: 57%;
    margin: auto;
}
/* ---- PSWIPER ---- */
.PSWIPER .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
.PSWIPER .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
.PSWIPER img{
    width: 100%;
    height: 100%;
    border: 1px solid #e8e4de;
}
.PSWIPER figure.sale img{
    border: none;
}
.PSWIPER {
    margin-bottom: 100px;
    overflow: hidden; 
    height: 430px;
    position: relative;
}
.PSWIPER h4{
    color: #3e2720;
}
.PSWIPER p{
    color: #fd8f0e;
}
.PSWIPER figure.sale{
    position: absolute; 
    top: -20px; 
    left: -20px;
}
/* ---- BUTTONS AND PAGINATION FOR SWIPER ---- */
.bakeryswiper-pagination span.swiper-pagination-total{
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 12px;
}
.bakeryswiper-pagination span.swiper-pagination-current{
    position: absolute;
    top: 16px;
    right: 40px;
    color: #fd8f0e;
    font-size: 18px;
    font-weight: 500;
}
.bakeryswiper-button-prev,
.bakeryswiper-button-next{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
}
.bakeryswiper-button-prev{
    right: 55px;
}
.bakeryswiper-button-next{
    right: 5px;
}
/* ---- PSWIPER END ---- */
.bakeryfeaturedlist li a{
    color: #3e2720; 
    text-transform: uppercase;
    float: left;
    padding-right: 5px;
    font-size: 5px;
}
.bakeryfeaturedlist li a::after{
    content: " /";
    color: black;
}
.bakeryfeaturedlist li:last-of-type a::after{
    content: none;
}
.bakeryfeaturedlist li a.active{
    color: #fd8f0e;
}
/* ANDROID MENU */
.bakerymenuactive{
    top: 0!important;
}
#bakerymenu {
    padding-top: 5%;
    position: fixed;
    background: rgba(253,141,14,1);
    background: -moz-linear-gradient(-45deg, rgba(253,141,14,1) 0%, rgba(204,116,16,1) 26%, rgba(253,141,14,1) 50%, rgba(209,117,19,1) 76%, rgba(253,141,14,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(253,141,14,1)), color-stop(26%, rgba(204,116,16,1)), color-stop(50%, rgba(253,141,14,1)), color-stop(76%, rgba(209,117,19,1)), color-stop(100%, rgba(253,141,14,1)));
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
    top: -120%;
    left: 0;
    z-index: 4
}
#bakerymenu li a{
    color: #000;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 5px;
}
#bakerymenuclose {
    position: absolute; 
    left: 50%; 
    bottom: 25px; 
    color: #000;
}
/* ---- MAGAZINE ---- */
.bakerymagazine1 {
    background: white url('../photos/bakery/banner4.png') no-repeat left;
    background-position-y: center;
    width: 100%; 
    height: 700px; 
    border-top: 1px solid #e8e4de;
    padding-top: 100px;
    padding-bottom: 50px;
}
.bakerymagazine1 h2,
bakerymagazine1 p,
.bakerymagazine2 h2,
bakerymagazine2 p{
    color: #3e2720;
}
.bakerymagazine2 {
    background: #fcfbfb url('../photos/bakery/banner5.png') no-repeat right; 
    background-position-y: center;
    width: 100%; 
    height: 700px;
    border-bottom: 1px solid #e8e4de;
    padding-top: 100px;
    padding-bottom: 50px;
}
.elipses{
    width: 40px;
    height: 35px;
}
.magazinef{
    position: absolute; 
}
.magazinef1{
    top: 10%; 
    left: 70%;
}
.magazinef2{
    top: 5%; 
    right: 60%;
}
.magazinemore{
    color: #fd8f0e;
    border-radius: 50px;
    border: 2px solid #fd8f0e;
}

/* BLOG */
.bakeryblog .banner4{
    background: url('../photos/bakery/banner4.jpg') no-repeat; 
    background-size: cover;
    min-height: 780px;
}
.bakeryblog .banner5{
    background: url('../photos/bakery/banner5.jpg') no-repeat; 
    background-size: cover; 
    padding-top: 200px; 
    min-height: 780px;
}
.bakeryblog a{
    border-radius: 50px; 
    border: 2px solid white; 
    color: white; 
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
}
.bakeryblog span{
    background: rgba(255, 255, 255, 0.2); 
    height: 1px; 
    display: block;
    margin: auto;
}
.bakeryblog h2{
    color: white; 
    text-transform: uppercase;
    letter-spacing: 5px
}
.bakeryblog .blogdate{
    font-size: 16px;
    letter-spacing: 2px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease;
}
.bakeryblog .blogdate:hover{
    border-bottom: 2px solid #fd8f0e;
}
.bakeryblog a:hover{
    color: #395382;
}
/* FOOTER */
footer h4{
    color: #3e2720;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
}
footer p{
    color: #898989;
}
footer ul li a{
    color: #898989;
    text-transform: uppercase;
    letter-spacing: 1px;
}
footer img{
    width: 100%;
    height: 100%;
}
footer .row{
    padding-top: 120px;
    padding-bottom: 80px;
}
footer a{
    color: #898989;
}
footer{
    background: #fafafb;
}
footer span{
    color: #000;
    font-weight: bold;
}
footer input.input,
footer input.input:active,
footer input.input:focus,
footer input.input:hover{
    border: none;
    border-bottom: 2px solid #fd8f0e;
    padding: 5px 0;
    background: #fafafb;
    width: 100%;
    color: #fd8f0e
}
footer input.send{
    background: #fafafb;
    border: none;
    color: #fd8f0e;
    font-weight:  800;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
footer input.input::placeholder{
    color: rgba(0, 0, 0, 0.4)
}
footer h2{
    color: #fd8f0e;
}
footer .logo{
    width: 60px;
    height: 50px;
    margin: auto;
}
/*


*********** HOVER BUTTONS ***********


*/
.hvr-shutter-in-horizontal{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);position:relative;background:white;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:.3s;transition-duration:.3s}.hvr-shutter-in-horizontal:before{content:"";position:absolute;border-radius: 50px;z-index:-1;top:0;bottom:0;left:0;right:0;background:#395382;-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:50%;transform-origin:50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.hvr-shutter-in-horizontal:active,.hvr-shutter-in-horizontal:focus,.hvr-shutter-in-horizontal:hover{color:#fff}.hvr-shutter-in-horizontal:active:before,.hvr-shutter-in-horizontal:focus:before,.hvr-shutter-in-horizontal:hover:before{-webkit-transform:scaleX(0);transform:scaleX(0)}.hvr-shutter-out-horizontal{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);position:relative;background:#e1e1e1;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:.3s;transition-duration:.3s}

.hvr-rectangle-out{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);position:relative;border-radius: 50px;background:white;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:.3s;transition-duration:.3s}.hvr-rectangle-out:before{content:"";position:absolute;border-radius: 50px;z-index:-1;top:0;left:0;right:0;bottom:0;background: #3e2720;-webkit-transform:scale(0);transform:scale(0);-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.hvr-rectangle-out:active,.hvr-rectangle-out:focus,.hvr-rectangle-out:hover{color:#fff}.hvr-rectangle-out:active:before,.hvr-rectangle-out:focus:before,.hvr-rectangle-out:hover:before{-webkit-transform:scale(1);transform:scale(1)}

.hvr-bounce-in{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-transition-duration:.5s;transition-duration:.5s}.hvr-bounce-in:active,.hvr-bounce-in:focus,.hvr-bounce-in:hover{-webkit-transform:scale(1.2);transform:scale(1.2);-webkit-transition-timing-function:cubic-bezier(0.47,2.02,.31,-.36);transition-timing-function:cubic-bezier(0.47,2.02,.31,-.36)}

.hvr-radial-in{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);position:relative;overflow:hidden;background:#fd8f0e;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:.3s;transition-duration:.3s}.hvr-radial-in:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background: white;;border-radius:100%;-webkit-transform:scale(2);transform:scale(2);-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.hvr-radial-in:active,.hvr-radial-in:focus,.hvr-radial-in:hover{color:#fff}.hvr-radial-in:active:before,.hvr-radial-in:focus:before,.hvr-radial-in:hover:before{-webkit-transform:scale(0);transform:scale(0)}

.hvr-shutter-out-vertical{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);position:relative;background:#395382;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:.3s;transition-duration:.3s}.hvr-shutter-out-vertical:before{content:"";position:absolute;z-index:-1;top:0;bottom:0;left:0;right:0;background:#fff;border-radius: 50px;-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:50%;transform-origin:50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.hvr-shutter-out-vertical:active,.hvr-shutter-out-vertical:focus,.hvr-shutter-out-vertical:hover{color:#fff}.hvr-shutter-out-vertical:active:before,.hvr-shutter-out-vertical:focus:before,.hvr-shutter-out-vertical:hover:before{-webkit-transform:scaleY(1);transform:scaleY(1)}





