body{
    font-family: 'Montserrat', sans-serif;
}
.subtitle {
    font-family: 'Pacifico', cursive;
}
/* NAVIGATION */
.bakeryss span{
    background-color: #e8e9e0;
    color: #e8e9e0; 
    width: 1px; 
    height: 10px; 
    border-radius: 5px
}
.bakeryss p{
    color: #fff; 
    position: absolute; 
    left: 15px; 
    bottom: 0; 
    background: #fd8f0e; 
    border-radius: 50%;
}
#bakerysearch input{
    width: 100%; 
    padding: 5px 10px; 
    background-color: #fff; 
    color:#fd8f0e; 
    border: 2px solid #fd8f0e; 
    border-radius: 2px;
}
#bakerysearch input:active,
#bakerysearch input:focus,
#bakerysearch input:hover{
    border: 2px solid #fd8f0e; 
    outline: none;
}
#bakerysearch input::placeholder{
    color:#fd8f0e;
}
.bakerysearch{
    top: 10px!important;
}
.bakerybanners img{
    width: 100%;
}

.bakerywide{
    letter-spacing: 6px;
}
.bakerycolor{
    color: #fd8f0e;
}
.shrink {
    max-height: 65px!important;
    padding-top: 10px!important;
}
#bakerynav{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.bakeryshopnow{
    border-radius: 20px; 
    border: 2px solid white; 
    color: white;
}
.bakeryshopnow:hover{
    color: #395382;
}
.bakerymore{
    color: #3e2720; 
    border: 2px solid #3e2720; 
    border-radius: 50px;
}
.banner3{
    background: url('../photos/bakery/banner3.png') no-repeat center; 
    background-size: 90%; 
    padding-top: 7%; 
    padding-left: 110px; 
    padding-right: 110px;
}
.banner3 p{
    font-size: 0.4em;
}
.banner4 {
    background: url('../photos/bakery/banner3.jpg') no-repeat center;
    background-size: cover; 
}
.recipe{
    background: url('../photos/bakery/recipe.png') no-repeat center; 
    background-size: 70%;
    height: 450px;
    text-align: center;
}
/* ---- PSWIPER ---- */
.PSWIPER .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
.PSWIPER .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
.PSWIPER img{
    width: 100%;
    height: 100%;
    border: 1px solid #e8e4de;
}
.PSWIPER figure.sale img{
    border: none;
}
.PSWIPER {
    margin-bottom: 100px;
    overflow: hidden; 
    height: 430px;
    position: relative;
}
.PSWIPER h4{
    color: #3e2720;
}
.PSWIPER p{
    color: #fd8f0e;
}
.PSWIPER figure.sale{
    position: absolute; 
    top: -20px; 
    left: -20px;
}
/* ---- BUTTONS AND PAGINATION FOR SWIPER ---- */
.bakeryswiper-pagination span.swiper-pagination-total{
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 12px;
}
.bakeryswiper-pagination span.swiper-pagination-current{
    position: absolute;
    top: 16px;
    right: 40px;
    color: #fd8f0e;
    font-size: 18px;
    font-weight: 500;
}
.bakeryswiper-button-prev,
.bakeryswiper-button-next{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
}
.bakeryswiper-button-prev{
    right: 55px;
}
.bakeryswiper-button-next{
    right: 5px;
}
/* ---- PSWIPER END ---- */
.bakeryfeaturedlist li a{
    color: #3e2720; 
    text-transform: uppercase;
    float: left;
    padding-right: 5px;
    font-size: 5px;
}
.bakeryfeaturedlist li a::after{
    content: " /";
    color: black;
}
.bakeryfeaturedlist li:last-of-type a::after{
    content: none;
}
.bakeryfeaturedlist li a.active{
    color: #fd8f0e;
}
/* ANDROID MENU */
.bakerymenuactive{
    top: 0!important;
}
#bakerymenu {
    padding-top: 5%;
    position: fixed;
    background: rgba(253,141,14,1);
    background: -moz-linear-gradient(-45deg, rgba(253,141,14,1) 0%, rgba(204,116,16,1) 26%, rgba(253,141,14,1) 50%, rgba(209,117,19,1) 76%, rgba(253,141,14,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(253,141,14,1)), color-stop(26%, rgba(204,116,16,1)), color-stop(50%, rgba(253,141,14,1)), color-stop(76%, rgba(209,117,19,1)), color-stop(100%, rgba(253,141,14,1)));
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
    top: -120%;
    left: 0;
    z-index: 4
}
#bakerymenu li a{
    color: #000;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 5px;
}
#bakerymenuclose {
    position: absolute; 
    left: 50%; 
    bottom: 25px; 
    color: #000;
}
/* ---- MAGAZINE ---- */
.bakerymagazine1 {
    background: white url('../photos/bakery/banner4.png') no-repeat left;
    background-position-y: center;
    width: 100%; 
    height: 700px; 
    border-top: 1px solid #e8e4de;
    padding-top: 100px;
    padding-bottom: 50px;
}
.bakerymagazine1 h2,
bakerymagazine1 p,
.bakerymagazine2 h2,
bakerymagazine2 p{
    color: #3e2720;
}
.bakerymagazine2 {
    background: #fcfbfb url('../photos/bakery/banner5.png') no-repeat right; 
    background-position-y: center;
    width: 100%; 
    height: 700px;
    border-bottom: 1px solid #e8e4de;
    padding-top: 100px;
    padding-bottom: 50px;
}
.elipses{
    width: 40px;
    height: 35px;
}
.magazinef{
    position: absolute; 
}
.magazinef1{
    top: 10%; 
    left: 70%;
}
.magazinef2{
    top: 5%; 
    right: 60%;
}
.magazinemore{
    color: #fd8f0e;
    border-radius: 50px;
    border: 2px solid #fd8f0e;
}

/* BLOG */
.bakeryblog .banner4{
    background: url('../photos/bakery/banner4.jpg') no-repeat; 
    background-size: cover;
    min-height: 780px;
}
.bakeryblog .banner5{
    background: url('../photos/bakery/banner5.jpg') no-repeat; 
    background-size: cover; 
    padding-top: 200px; 
    min-height: 780px;
}
.bakeryblog a{
    border-radius: 50px; 
    border: 2px solid white; 
    color: white; 
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
}
.bakeryblog span{
    background: rgba(255, 255, 255, 0.2); 
    height: 1px; 
    display: block;
    margin: auto;
}
.bakeryblog h2{
    color: white; 
    text-transform: uppercase;
    letter-spacing: 5px
}
.bakeryblog .blogdate{
    font-size: 16px;
    letter-spacing: 2px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease;
}
.bakeryblog .blogdate:hover{
    border-bottom: 2px solid #fd8f0e;
}
.bakeryblog a:hover{
    color: #395382;
}
/* FOOTER */
footer h4{
    color: #3e2720;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
}
footer p{
    color: #898989;
}
footer ul li a{
    color: #898989;
    text-transform: uppercase;
    letter-spacing: 1px;
}
footer img{
    width: 100%;
    height: 100%;
}
footer .row{
    padding-top: 120px;
    padding-bottom: 80px;
}
footer a{
    color: #898989;
}
footer{
    background: #fafafb;
}
footer span{
    color: #000;
    font-weight: bold;
}
footer input.input,
footer input.input:active,
footer input.input:focus,
footer input.input:hover{
    border: none;
    border-bottom: 2px solid #fd8f0e;
    padding: 5px 0;
    background: #fafafb;
    width: 100%;
    color: #fd8f0e
}
footer input.send{
    background: #fafafb;
    border: none;
    color: #fd8f0e;
    font-weight:  800;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
footer input.input::placeholder{
    color: rgba(0, 0, 0, 0.4)
}
footer h2{
    color: #fd8f0e;
}
footer .logo{
    width: 60px;
    height: 50px;
    margin: auto;
}





