@media(min-width:320px) {

}

@media(min-width:576px) {
    .bakeryfeaturedlist li a{
        font-size: 10px;
    }
    .bakerymagazine1 .bakerymt,
    .bakerymagazine2 .bakerymt{
        width: 70%;
    }
    .magazinef1{
        top: 15%; 
        left: 70%;
    }
    .magazinef2{
        top: 15%; 
        right: 60%;
    }
    .elipses{
        width: 50px;
        height: 45px;
    }
    .banner3inside{
        margin-top: 20%;
    }
}

@media(min-width:768px) {
#bakerymenu{
    float: right;
    position: static;
    top: 0;
    background: transparent;
    z-index: 0;
    padding-top: 15px;
}
#bakerymenu li{
    display: inline;
    padding: 0 5px;
    font-size: 10px;
}
#bakerymenu li a{
    text-decoration: none;
    color: black;
    text-transform: none;
    letter-spacing: 0px;
    padding-top: 0px;
    text-transform: none;
}
#bakerymenu a:hover{
    color: #fd8f0e!important;
}
#bakerymenu a.active{
    color: #fd8f0e!important;
}
#bakerymenu a:hover{
    text-decoration: none;
    color: black;
}
.banner3 p{
    font-size: 1em;
}
#bakerynavbutton {
    display: none;
}
#bakerymenuclose {
    display: none;
}
    .bakerymagazine1 .bakerymt,
    .bakerymagazine2 .bakerymt{
        width: 40%;
    }
    .magazinef1{
        top: 15%; 
        left: 50%;
    }
    .magazinef2{
        top: 20%; 
        right: 50%;
    }
    #recipes p{
        font-size: 14px;
        margin-bottom: 16px;
    }
    .recipe img{
        max-width: 45px;
    }
    .recipe h4{
        font-size: 18px;
    }
    /*
    FAST FOOD RESPONSIVE
    */
    #ffnavigation ul li a{
        color: #bfb9b1;
        text-transform: uppercase;
        font-weight: 500;
        border-bottom: 2px solid transparent;
        padding-bottom: 4px;
        font-size: 10px;
    }
    #ffnavigation ul li{
        padding: 0 2px;
        float: left;
    }
    #ffnavigation #ffmenu{
        padding-top: 15px;
        position: static;
        width: auto;
        height: auto;
        background: transparent;
    }
    #ffmenuclose,
    #ffmenutoggle{
        display: none;
    }


}


@media(min-width:992px) {
    #bakerymenu li{
        display: inline;
        padding: 0 10px;
        font-size: 13px;
    }
    .bakeryfeaturedlist li a{
        font-size: 12px;
    }
    .bakerymagazine1 .bakerymt,
    .bakerymagazine2 .bakerymt{
        width: 20%;
        margin-right: 200px;
        margin-left: 100px;
    }
    .magazinef1{
        top: 20%; 
        left: 50%;
    }
    .magazinef2{
        top: 30%; 
        right: 60%;
    }
    .elipses{
        width: 80px;
        height: 75px;
    }
    .banner3inside{
        margin-top: 2%;
    }
    #recipes p{
        font-size: 8px;
        margin-bottom: 12px;
    }
    .recipe img{
        max-width: 35px;
    }
    .recipe h4{
        font-size: 16px;
        padding-top: 15px;
    }
    /*
    FAST FOOD
    */
    #ffnavigation ul li a{
        font-size: 12px;
    }
    #ffnavigation ul li{
        padding: 0 10px;
    }
}

@media(min-width:1200px) {
    .magazinef1{
        top: 17%; 
        left: 33%;
    }
    .magazinef2{
        top: 17%; 
        right: 32%;
    }
    #recipes p{
        font-size: 14px;
        margin-bottom: 12px;
    }
    .recipe img{
        max-width: 45px;
    }
    .recipe h4{
        font-size: 20px;
    }
    #ffnavigation ul li a{
        font-size: 12px;
    }
    #ffnavigation ul li{
        padding: 0 15px;
    }
}

@media(min-width:1400px) {
    .bakerymagazine1 .bakerymt,
    .bakerymagazine2 .bakerymt{
        width: 20%;
        margin-right: 500px;
        margin-left: 300px;
    }
    .elipses{
        width: 120px;
        height: 110px;
    }
    .banner3inside{
        margin-top: 25%;
    }
    #recipes p{
        font-size: 20px;
        margin-bottom: 22px;
    }
    .recipe img{
        max-width: 45px;
    }
    .recipe h4{
        font-size: 24px;
    }
}