@media(min-width:320px) {

}

@media(min-width:576px) {
    .bakeryfeaturedlist li a{
        font-size: 10px;
    }
    .bakerymagazine1 .bakerymt,
    .bakerymagazine2 .bakerymt{
        width: 70%;
    }
    .magazinef1{
        top: 15%; 
        left: 70%;
    }
    .magazinef2{
        top: 15%; 
        right: 60%;
    }
    .elipses{
        width: 50px;
        height: 45px;
    }
    .banner3inside{
        margin-top: 20%;
    }
}

@media(min-width:768px) {
#bakerymenu{
    float: right;
    position: static;
    top: 0;
    background: transparent;
    z-index: 0;
    padding-top: 15px;
}
#bakerymenu li{
    display: inline;
    padding: 0 5px;
    font-size: 10px;
}
#bakerymenu li a{
    text-decoration: none;
    color: black;
    text-transform: none;
    letter-spacing: 0px;
    padding-top: 0px;
    text-transform: none;
}
#bakerymenu a:hover{
    color: #fd8f0e!important;
}
#bakerymenu a.active{
    color: #fd8f0e!important;
}
#bakerymenu a:hover{
    text-decoration: none;
    color: black;
}
.banner3 p{
    font-size: 1em;
}
#bakerynavbutton {
    display: none;
}
#bakerymenuclose {
    display: none;
}
    .bakerymagazine1 .bakerymt,
    .bakerymagazine2 .bakerymt{
        width: 40%;
    }
    .magazinef1{
        top: 15%; 
        left: 50%;
    }
    .magazinef2{
        top: 20%; 
        right: 50%;
    }



}


@media(min-width:992px) {
    #bakerymenu li{
        display: inline;
        padding: 0 10px;
        font-size: 13px;
    }
    .bakeryfeaturedlist li a{
        font-size: 12px;
    }
    .bakerymagazine1 .bakerymt,
    .bakerymagazine2 .bakerymt{
        width: 20%;
        margin-right: 200px;
        margin-left: 100px;
    }
    .magazinef1{
        top: 20%; 
        left: 50%;
    }
    .magazinef2{
        top: 30%; 
        right: 60%;
    }
    .elipses{
        width: 80px;
        height: 75px;
    }
    .banner3inside{
        margin-top: 2%;
    }
}

@media(min-width:1200px) {
    .magazinef1{
        top: 17%; 
        left: 33%;
    }
    .magazinef2{
        top: 17%; 
        right: 32%;
    }
}

@media(min-width:1400px) {
    .bakerymagazine1 .bakerymt,
    .bakerymagazine2 .bakerymt{
        width: 20%;
        margin-right: 500px;
        margin-left: 300px;
    }
    .elipses{
        width: 120px;
        height: 110px;
    }
    .banner3inside{
        margin-top: 25%;
    }
}