body{
    font-family: 'Montserrat', sans-serif;
    background: #ecece6;
}
img{
    max-width: 100%;
}
.roboto{
    font-family: 'Roboto Slab', serif;
}
/* NAVIGATION */
#fflogo {
    font-weight: 700;
    font-size: 32px;
}
#ffnavigation {
    position: fixed;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    background: transparent;
    z-index: 3;
    padding-top: 20px;
    transition: 0.2s ease;
}
#ffnavigation ul li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
}
#ffnavigation ul li a:hover{
    border-bottom: 2px solid #df8307;
}
#ffnavigation ul li a.active{
    border-bottom: 2px solid #df8307;
}
#ffnavigation ul li:last-of-type a{
    color: #ff9400;
}
#ffnavigation ul li:nth-last-of-type(2) a{
    color: white;
}
#ffnavigation ul li{
    padding: 10px 15px;
}
#ffnavigation #ffmenu{
    padding-top: 15px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.2s ease;
    z-index: 7;
}
.shrink{
    height: 65px!important;
    padding-top: 5px!important;
    background: rgba(0, 0, 0, 0.4)!important;
}
#ffmenutoggle{
    color: #f48e02;
    margin-top: 10px;
}
.ffmenuactive{
    top: 0!important;
}
/* FIND YOUR DISHES */
.topbannerdiv {
    position: absolute; 
    top: 20%; 
    width: 100%;
    height: 100%;
    left: 0;
}
#fffyd h1{
    font-size: 24px;
    font-weight: 900;
    color: #fff;
}
#fffyd h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}
.fyd{
    width: 250px;
    margin-left: 50%;
    margin-top: 50px;
    transform: translateX(-125px); 
}
.fyd h2,
.fyd p,
.fyd .fydicons,
.fyd .fydplus,
.fyd .ffprice{
    background: #f0f0ec;
    color: #4b4844;
    padding: 15px 0;
    float: left;
    display: inline-block;
}
.fyd h2,
.fyd p{
    width: 100%;
}
.fyd .fydicons,
.fyd .fydplus,
.fyd h2,
.fyd p{
    height: 52px;
}
.fyd .fydicons{
    width: 24.25%;
}
.fyd .fydplus{
    width: 50%;
    margin-bottom: 1.5%;
}
.fyd .ffprice{
    width: 48.5%;
    height: 107px;
    font-size: 54px;
    margin-right: 1.5%;
}
.fyd .ffprice span{
    vertical-align: 30px;
    font-size: 16px;
}
/* TOP OFFERS */
#ffcontainer {
    width: 70%;
    margin: auto;
    background-color: #fff;
    margin-top: -20px;
    position: relative;
    z-index: 2;
}
.fftopoffers figure h4{
    color: #4a443f;
    float: left;
    display: inline-block;
    font-size: 14px;
}
.toinfo{
    color: #c26a24;
    display: inline-block;
    float: right;
    font-size: 12px;
}
.fftopoffers div.col{
    padding: 0 15px;
}
.fftopoffers figure img{
    width: 100%;
    margin-bottom: 10px;
}
/* HOVER */
.topofferhover {
    position: absolute; 
    top: 15%;
    left: 30%;
    width: 40%;
    height: 60%;
    opacity: 0;
    transition: 0.2s ease;
}
.fftopoffers figure:hover .topofferhover{
    opacity: 1;
}
.topofferhover .hovericons,
.topofferhover .hoverplus,
.topofferhover .hoverprice{
    background: #f0f0ec;
    color: #4b4844;
    float: left;
    display: inline-block;
}
.topofferhover .hoverprice,
.topofferhover .hoverplus{
    width: 100%;
}
.topofferhover .hovericons,
.topofferhover .hoverplus{
    height: 24%;
}
.topofferhover .hoverplus{
    margin-bottom: 1.5%;
}
.topofferhover .hovericons{
    width: 49%;
}
.topofferhover .hoverprice{
    height: 50%;
    margin-right: 1.5%;
}
.topofferhover .hoverprice span{
    vertical-align: 30px;
    font-size: 16px;
}
.topofferhover figure img{
    width: 20px;
    height: 18px;
}
.topofferhover  .fftopoffershover{
    padding: 10px 0;
}
.topofferhover  p.fftopoffershover{
    font-size: 34px;
}
/* TODAYS SPECIALS */
.headerlinesdiv{
    border-bottom: 2px solid rgba(223, 218, 210, 0.5);
}
.headerlines{
    color: #54514e; 
    font-weight: 700; 
    position: relative; 
    margin-bottom: -12px; 
    background-color: #fff; 
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.ffts a{
    color: #ff7200;
    text-transform: uppercase;
}
.ffts img{
    max-width: 100%;
    height: 150px;
    margin-bottom: 5px;
}

/* NEW PHOTO HOVER */
.newhover{
    position: absolute;
    width: 30%;
    left: 35%;
    top: 30%;
}
.newhover h2,
.newhover p,
.newhover .nhicons,
.newhover .nhplus,
.newhover .nhprice{
    background: #fff;
    color: #4b4844;
    padding: 15px 0;
    float: left;
    display: inline-block;
}
.newhover h2{
    background: #4b4844;
    color: #fff;
}
.newhover h2,
.newhover p{
    width: 100%;
}
.newhover .nhicons,
.newhover .nhplus,
.newhover h2,
.newhover p{
    height: 52px;
}
.newhover .nhicons{
    width: 24.25%;
}
.newhover .nhplus{
    width: 50%;
    margin-bottom: 1.5%;
}
.newhover .nhprice{
    width: 48.5%;
    height: 107px;
    font-size: 54px;
    margin-right: 1.5%;
}
.newhover .nhprice span{
    vertical-align: 30px;
    font-size: 16px;
}

/* MAKE AN ORDER */
#mao {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 70%;
    margin-left: 15%;
}
#mao h1,
#mao p{
    color: #54514e;
}
#mao h1{
    font-weight: 800;
}
#mao form{
    margin-bottom: 60px;
}
/* MAKE AN ORDER FORM */
#mao form{
    margin-top: 60px;
}
#mao label{
    float: left;
}
#mao input,
#mao textarea,
#mao input:active,
#mao input:hover,
#mao input:focus{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    outline: none;
}
#mao input:focus,
#mao textarea:focus{
    border:1px solid rgba(0, 0, 0, 0.4);
}
#mao textarea::-webkit-input-placeholder,
#mao textarea::placeholder{
    color: rgba(200, 200, 200, 0.9)
}
#mao input.po{
    border-radius: 50px;
    background-color: #f48e02;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    width: auto;
    cursor: pointer;
}
#mao input.po:hover{
    box-shadow: -2px 2px 5px black;
}

/* FOOTER */
#ffooter{
    position: relative;
    z-index: 1;
}
#ffooter .ffooter{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 90px 5px 50px;
}
#ffooter h3{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 18px;
}
#ffooter a,
#ffooter p{
    color: #9d9b9a;
    display: block;
    margin-bottom: 10px;
}
#ffooter a:hover,
#ffooter p:hover{
    color: #cecece;
}
#ffooter .number{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
#ffooter ul li{
    float: none;
    display: inline-block;
    padding: 0 15px;
}
#ffooter ul li a{
    color: #9d9b9a;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#ffooter ul li a:hover,
#ffooter ul li a.active{
    color: #af5502;
}
#ffooter h2{
    color: #fff;
}
#ffooter ul.ffsocial{
    height: 50px;
    width: 100%;
    text-align: center;
}
#ffooter ul.ffsocial li{

}
#ffooter img{
    height: 698px!important;
    min-width: 100%!important;
    width: auto;
}
#ffooter .ffsocial img{
    min-width: auto;
    width: auto!important;
    height: auto!important;
}



