.pacifico{
    font-family: 'Pacifico', cursive;
}
img{
    max-width: 100%;
}
#body{
    padding-top: 50px;
}
h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Montserrat', sans-serif;
}
.os{
    font-family: 'Open Sans', sans-serif;

}


/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    transition: 0.2s ease;
    z-index: 5;
    background-color: #fff;
    padding: 15px 0;
}
.shrink{
    height: 90px!important;
    padding: 5px 0;
}
header ul{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 6;
    transition: 0.2s ease-in-out;
}
header ul li{
    vertical-align: middle;
}
header ul li a{
    color: #fff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
header ul li:last-of-type a{
    position: absolute;
    bottom: 5px;
    left: 49%;
}
header ul li.px-md-5{
    display: none;
}
header ul li:last-of-type a{
    margin-right: 0;
}
header a.pacifico{
    font-size: 18px;
    font-weight: 300;
}
.hacmenuactive{
    top: 0!important;
}
header .col-auto p{
    position: absolute;
    top: 17px;
    right: 36px;
    background: #f00;
    color: #fff;
    border-radius: 50%;
    width: 20px;
}
header .col-auto img{
    max-width: 40px;
    max-height: 40px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}











/* TOP BANNER */
#topbanner .swiper-slide{
    background: url('../photos/hc/topbanner.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 780px;
    padding: 200px 0px;
}
#topbanner h1{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px!important;
    font-weight: bold;
}
#topbanner p{
    color: #fff;
    margin: 30px 0;
}
#topbanner a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    transition: 0.1s ease;
    font-weight: 500;
}
#topbanner a:hover{
    background: rgba(0, 0, 0, 0.5);
}
.swiper-pagination-bullet{
    background-color: #fff;
    opacity: 1;
    height: 8px;
    width: 8px;
    margin-right: 15px!important;
}
.swiper-pagination-bullet-active{
    background-color: #dda03a;
}
/* HAM AND CHEESE */
#hac{
    background: url('../photos/hc/banner2.png') no-repeat;
    background-position: left;
    background-size: auto;
    min-height: 710px;
    position: relative;
}
#hac .div{
    width: 100%;
    height: auto;
    margin-top: 100px;
    float: right;
}
#hac h4{
    color: #dda03a;
    font-weight: 200;
    letter-spacing: 2px;
}
#hac .div a{
    color: #dda03a;
    border-radius: 50px;
    border: 2px solid #dda03a;
    padding: 7px 20px;
    display: inline-block;
    text-transform: uppercase;
}
#hac h2{
    color: #3e2720;
    letter-spacing: 3px;
    font-weight: 600;
}
#hac .from{
    position: absolute;
    width: auto;
    top: 5%;
    left: 37%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.3);
}
#hac .from a{
    color: #dda03a;
    letter-spacing: 2px;
    display: block;
    font-weight: 700;
    font-size: 10px;
}
#hac .from a:last-of-type{
    font-size: 28px;
}
/* Prosciutto and cheese */
#pac .pacL{
    background: url('../photos/hc/ch1.jpg') no-repeat;
}
#pac .pacR{
    background: url('../photos/hc/ch2.jpg') no-repeat;
}
#pac .pacL,
#pac .pacR{
    background-position: center;
    background-size: cover;
    min-height: 790px;
    padding-top: 130px;
}
#pac .pacdiv{
    width: 100%;
    min-height: 450px;
    background: url('../photos/hc/cheeseham.png') no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding-top: 50px;
}
#pac h4{
    color: #dda03a;
    letter-spacing: 4px;
    font-weight: 300;
}
#pac h3{
    color: #3e2720;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
#pac .dots{
    border-bottom: 2px dotted #dda03a;
    padding: 0 15px 10px;
}
#pac h2{
    color: #3e2720;
    letter-spacing: 6px;
    font-size: 42px;
    font-weight: 700;
}
#pac a{
    color: #dda03a;
    border: 2px solid #dda03a;
    border-radius: 50px;
    padding: 7px 15px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-top: 30px;
}
/* FEATURED */
#featured{
    background: url('../photos/hc/featuredbg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 820px;
    padding-top: 50px;
}
#featured sup{
    font-size: 8px;
    letter-spacing: 0.5px;
}
#featured ul{
    align-items: center;
}
#featured ul li{
    display: inline-block;
    float: none;
}
#featured ul li a{
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
}
#featured ul li a::after{
    content: " / ";
}
#featured ul li:last-of-type a::after{
    content: none;
}
#featured ul li a.active{
    color: #dda03a;
}
#featured ul li a.active::after{
    color: #000;
}
/* FEATURED SWIPER */
#featured .swiper-slide{
    max-width: 385px;
}
#featured figure img{
    min-width: 100%;
    width: auto;
    height: 100%;
    overflow: hidden;
}
#featured figure{
    overflow: hidden;
    max-width: 385px;
    height: 385px;
}
#featured .swiper-container{
    height: auto;
    width: 90%;
}
#featured .swiper-button-next{
    background: url('../photos/hc/arrowR.png') no-repeat;

}
#featured .swiper-button-prev{
    background: url('../photos/hc/arrowR.png') no-repeat;
    transform: rotateY(180deg);
}














